*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;/*文字的样式*/
}

/*顶部开始*/
.header-box {
    width: 100%;
    height: 79px;
    background: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 999;
}
.header-box2 {
    width: 1170px;
    height: 79px;
    margin: 0 auto;
}
.header-box3 {
    width: 150px;
    height: 79px;
    float: left;
    line-height: 79px;
    position: relative;

}
.header-box3 img {
    width: 150px;
    height: 50px;
    padding-top: 18px;
}
.header-box4{
    width: 1170px;
    height: 79px;
}
.header-list {
    width: 630px;
    height: 79px;
    float: right;
}
.header-list2{
    line-height: 79px;
    float: left;
}
.header-list2 a {
    width: 86px;
    height: 79px;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
}
.header-list2:hover a{
    color: #62a8ea;
}
#one{
    color: #62a8ea;
}
/*顶部结束*/
.img-box{
    width: 1349px;
    height: 351px;
}
.img-box>img{
    width: 1349px;
    height: 351px;
}

/*介绍开始*/
.introduction-box{
    width: 100%;
    height: 904px;
    margin: 0 auto;
}
.introduction-box2{
    width: 1349px;
    height: 672px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.introduction-box2 h3{
    font-size: 36px;
    margin-top: 0px;
    text-align: center;
    font-weight: 300;
    color: #37474f;
}
.introduction-list{
    width: 1349px;
    height: 300px;
    margin-top: 50px;
}
.introduction-box2 p{
    font-family: 微软雅黑, 'Microsoft YaHei';
    font-size: 16px;
    line-height: 1.42857;
    margin-bottom:10px ;
    font-weight: 300;
    color: #222;
}
.introduction-box2 p.int1{
    margin-bottom: 50px;
}
.introduction-box3 {
    width: 1349px;
    height: 340px;
}
/*介绍结束*/

/*底部开始*/
.footer-box {
    width:1349px ;
    height: 110px;
    margin: 0 auto;
}
.footer-box2 {
    width: 1220px;
    height: 56px;
    text-align: center;
    line-height: 56px;
}
.footer-box2 i{
    margin: 0px 10px;
    font-size: 26px;
    color: #62a8ea;
}
#weixi{
    font-size: 30px;
    color: #83b944
}
#qq{
    font-size: 30px;
    color: #62a8ea;
}
#youxiang{
    font-size: 30px;
    color: #62a8ea;
}
.footer-box3 {
    width: 1220px;
    height: 84px;
    text-align: center;
    margin: 2px 1px;
    box-sizing: border-box;
}
.footer-box3 a{
    color: #62a8ea;
    font-size: 14px;
    margin: 4px 3px;
    box-sizing: border-box;
}
.footer-box3 p{
    color: #aaaaaa;
    font-size: 14px;
    margin: 4px 3px;
    box-sizing: border-box;
}
/*底部结束*/



