*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;/*文字的样式*/
}
i{
    text-decoration: none;
}
@font-face {
    font-family: 'iconfont';  /* project id 1023878 */
    src: url('//at.alicdn.com/t/font_1023878_my5gsz0r7w.eot');
    src: url('//at.alicdn.com/t/font_1023878_my5gsz0r7w.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1023878_my5gsz0r7w.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1023878_my5gsz0r7w.woff') format('woff'),
    url('//at.alicdn.com/t/font_1023878_my5gsz0r7w.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1023878_my5gsz0r7w.svg#iconfont') format('svg');
}